.apartado1{
	background-color: green;
}

.apartado2{
	background-color: orange;
}

.partes1{
	background-color: black;
}

.partes2{
	background-color: #009696;
}

.partes3{
	background-color: white;
	font-style: bold;
}

.barra1{
	background-color: lightgreen;
}

.barra2{
	background-color: skyblue;
}